* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root { 
    --main-font: 'Poppins', sans-serif;
    --button-color: #FF9900;
}

body {
font-family: var(--main-font);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    line-height: 24px;
    width: 102px;
    height: 46px;
    background-color: transparent;
}

/* Global style End */

.header {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-around;
}

.header__button-in {
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.header__button-up {
    background-color: var(--button-color);
    border: none;
    color: #ffff;
}

/* Header menu End */



.started__container {
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.started__about {
    display: flex;
    flex-direction: column;
}



.started__img {
    display: flex;

}

.started__start {
    background-color: var(--button-color);
    border: none;
    color: #ffff;
}

.started__logo {
    color: #FF9900;

}